/* CertificateForm.css */
.container {
    width: 60%;
    margin: 3% auto;
    padding: 20px;
    padding-right: 40px;
    background-color: #f7f7f7; /* light background */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for all input fields and selects */
  .container input[type="text"],
  .container input[type="date"],
  .container input[type="time"],
  .container select,
  .container input[type="file"] {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; /* white/light color */
    color: #333;
  }
  .container select {
    width: 102%;
    padding: 8px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff; /* white/light color */
    color: #333;
  }
  
  /* Style for buttons */
  .container button {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 8px;
  }
  
  .container button:hover {
    background-color: #d5d5d5;
  }
  

  @media (max-width: 768px) {
    .container {
        width: 80%; /* Make form wider on smaller screens */
        padding: 15px;
    }

    .container input[type="text"],
    .container input[type="date"],
    .container input[type="time"],
    .container select,
    .container input[type="file"] {
        width: 90%;
        font-size: 16px; /* Increase tap area for mobile */
        padding: 10px;
    }
    .container select {
        width: 96%;
    }
}